<ifModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
Redirect 301 /About_photos.php /about-photos.php
Redirect 301 /About_site.php /about-site.php 
Redirect 301 /Add_Menu.php /add-menu.php 
Redirect 301 /Add_Microvariation_Form.php /add-microvariation-form.php 
Redirect 301 /Add_Microvariation_Process.php /add-microvariation-process.php 
Redirect 301 /Add_Model_Form.php /add-model-form.php
Redirect 301 /Add_Model_Process.php /add-model-process.php
Redirect 301 /Add_Package_Type_Form.php /add-package-type-form.php
Redirect 301 /Add_Package_Type_Process.php /add-package-type-process.php
Redirect 301 /Add_Reference_Form.php /add-reference-form.php
Redirect 301 /Add_Reference_Process.php /add-reference-process.php
Redirect 301 /Add_Release_Form.php /add-release-form.php
Redirect 301 /Add_Release_Process.php /add-release-process.php
Redirect 301 /Add_Rel_Coll_or_Wishlist.php /add-release-to-collection-or-wishlist.php
Redirect 301 /Add_Rel_to_Coll.php /add-release-to-collection.php
Redirect 301 /Add_Rel_to_Wishlist.php /add-release-to-wishlist.php
Redirect 301 /Add_User_Coll_Code.php /add-user-collection-code.php
Redirect 301 /Add_Value_List_Item_Form.php /add-value-list-item-form.php
Redirect 301 /Add_Value_List_Item_Process.php /add-value-list-item-process.php
Redirect 301 /Add_Var_Coll_or_Wishlist.php /add-variation-collection-or-wishlist.php
Redirect 301 /Add_Variation_Form.php /add-variation-form.php
Redirect 301 /Add_Variation_Process.php /add-variation-process.php
Redirect 301 /Add_Var_to_Coll.php /add-variation-to-collection.php
Redirect 301 /Add_Var_to_Wishlist.php /add-variation-to-wishlist.php
Redirect 301 /Add_Version_Form.php /add-version-form.php
Redirect 301 /Add_Version_Process.php /add-version-process.php
Redirect 301 /Add_Wheel_Form.php /add-wheel-form.php
Redirect 301 /Add_Wheel_Process.php /add-wheel-process.php
Redirect 301 /All_Variations.php /all-variations.php
Redirect 301 /Authenticate_Test.php /authenticate-test.php
Redirect 301 /CodeLvl_move.php /code-lvl-move.php
Redirect 301 /Collection_Code_Lists.php /collection-code-lists.php
Redirect 301 /Collection_Report_A.php /collection-report-a.php
Redirect 301 /Collection_Report_H.php /collection-report-h.php
Redirect 301 /Collection_Report_M_Menu.php /collection-report-m-menu.php
Redirect 301 /Collection_Report_M_Process.php /collection-report-m-process.php
Redirect 301 /Collection_Report_W.php /collection-report-w.php
Redirect 301 /Collection_Reports.php /collection-reports.php
Redirect 301 /Collections_Menu.php /collections-menu.php
Redirect 301 /Create_Collection.php /create-collection.php
Redirect 301 /Create_User_Account_Form.php /create-user-account-form.php
Redirect 301 /Create_User_Account_Process.php /create-user-account-process.php
Redirect 301 /DB_explain.php /db-explain.php
Redirect 301 /Dedication.php /dedication.php
Redirect 301 /Del_Coll_Code.php /delete-collection-code.php
Redirect 301 /Del_Coll_Outcome.php /delete-collection-outcome.php
Redirect 301 /Delete_Collection.php /delete-collection.php
Redirect 301 /Del_Mdls_in_Coll.php /delete-models-in-collection.php
Redirect 301 /Diecast_Brands.php /diecast-brands.php
Redirect 301 /Diecast_History.php /diecast-history.php
Redirect 301 /Dir_Add_Mdl_to_Coll_Process.php /dir-add-mdl-to-coll-process.php
Redirect 301 /Dir_Add_Mdl_to_Coll.php /dir-add-mdl-to-coll.php
Redirect 301 /Display_Microvariations.php /display-microvariations.php
Redirect 301 /Early_Lesney.php /early-lesney.php
Redirect 301 /Edit_Account_Form.php /edit-account-form.php
Redirect 301 /Edit_Account_Process.php /edit-account-process.php
Redirect 301 /guest_login.php /guest-login.php
Redirect 301 /How_Made.php /how-made.php
Redirect 301 /LR_vs_SF.php /lr-vs-sf.php
Redirect 301 /MAN_Details_and_Ver_Listing.php /man-details-and-ver-listing.php
Redirect 301 /Manage_Collections.php /manage-collections.php
Redirect 301 /Manage_Models_in_Collection.php /manage-models-in-collection.php
Redirect 301 /Matchbox_History.php /matchbox-history.php
Redirect 301 /MB_Code_System.php /mb-code-system.php
Redirect 301 /MB_Organization.php /mb-organization.php
Redirect 301 /MBX101_Menu.php /mbx101-menu.php
Redirect 301 /model_search_help.php /model-search-help.php
Redirect 301 /Models_Detail_and_Ver_Listing.php /models-detail-ver-listing.php 
Redirect 301 /Models_Found_List.php /models-found-list.php
Redirect 301 /Outcomes.php /outcomes.php
Redirect 301 /Ref_Files.php /ref-files.php
Redirect 301 /Release_Detail.php /release-detail.php
Redirect 301 /Search_Models_Menu.php /search-models-menu.php
Redirect 301 /Search_Models_Process.php /search-models-process.php
Redirect 301 /Search_Releases_Menu.php /search-releases-menu.php
Redirect 301 /Search_Releases_Process.php /search-releases-process.php
Redirect 301 /Series_List.php /series-list.php
Redirect 301 /Similar_39_Chevy_Deliv.php /similar-39-chevy-deliv.php
Redirect 301 /Similar_Carbodies.php /similar-carbodies.php
Redirect 301 /Similar_Ford_GT.php /similar-ford-gt.php
Redirect 301 /Similar_Luminas.php /similar-luminas.php
Redirect 301 /similar_models_compare.php /similar-models-compare.php
Redirect 301 /Similar_Pontiac_stock_cars.php /similar-pontiac-stock-cars.php
Redirect 301 /Similar_TBirds.php /similar-tbirds.php
Redirect 301 /Similar_Z3s.php /similar-z3s.php
Redirect 301 /Theme_List.php /theme-list.php
Redirect 301 /Updt_Coll_Mdl_Get_Copy.php /update-collection-model-get-copy.php
Redirect 301 /Updt_Coll_Mdl_Process.php /update-collection-model-process.php
Redirect 301 /Updt_Coll_Mdl.php /update-collection-model.php
Redirect 301 /Updt_Coll_Outcome.php /update-collection-outcome.php
Redirect 301 /Updt_Coll.php /update-collection.php
Redirect 301 /Updt_User_Coll_Code_Process.php /update-user-collection-code-process.php
Redirect 301 /Updt_User_Coll_Code.php /update-user-collection-code.php
Redirect 301 /User_Upload_Record.php /user-upload-record.php
Redirect 301 /User_Upload.php /user-upload.php
Redirect 301 /Variation_Comparison.php /variation-comparison.php
Redirect 301 /Variation_Detail.php /variataion-detail.php
Redirect 301 /Ver_Detail_and_Var_Listing.php /ver-detail-var-listing.php
Redirect 301 /Verification.php /verification.php
Redirect 301 /Wheel_Types.php /wheel-types.php
Redirect 301 /Window_Colors.php /window-colors.php
</ifModule>