@media print {
	
	body {
		width:90%; margin:0 auto;
	}
	html * {
		-webkit-tap-highlight-color:$printBlack;
	}
	.row {
		max-width:100%; 
		
		.columns {
			padding:0;
		}
	}
	
	div:not(.reveal-modal) {display:block;}
	
	
	#header {text-align:center;
		a#logo {
			display:inline-block; padding:1em; background:$printBlack !important;
			
			&:after {
				content:"";
			}
			
			img {
				background:$printBlack !important;
			}
		}
	}
	
	#footer {
		margin:1em 0; padding:0;
	}
	
	.row.actionButtons .button.dark {padding:0;}
	.button,
	.button.dark {border-color:$printBlack;}
	
	/* -- WISHLIST TABLE -- */
	#overflow {overflow-x:visible;
		
		* {
			font-size:.5rem;
		}
		img {
			max-width:100px !important;
		}
	}
	
	#main {
		table {
			table-layout:fixed;
			width:100%;
			white-space:nowrap;
			
			td {
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				word-wrap:break-word
			}
		}
	}
	/*
	body.processing_your_collection_search #main table {
		td {
			&:nth-of-type(22),
			&:nth-of-type(24),
			&:nth-of-type(25),
			&:nth-of-type(26),
			&:nth-of-type(29) { 
				display:none;
				//background:red !important;
			}
		}
	}
	*/
	
	/* -- HIDE -- */
	.button,
	#utilityNav,
	ul#mainNav,
	#quick_search,
	#subNav,
	#printThis {display:none;}
	
}