@import "settings";

/* -- Main -- */
#main {padding-top:8em; }

.home #main {padding-top:0;}


/* -- Sidebar -- */
.sidebar {
	margin-top:3em;
	font-size:120%;

	a {display:block; margin:.5em 0;}
}




/* -- Home --------------- */
#header-home {
	margin-bottom:2em; background:$orange url('../images/banners/chalkboard.png') center center no-repeat;

	* {color:$cream;}
	
	#banner {
		margin-top:2em;
	
		#bannerText {
			margin-top:2em;
		}	
	}
}

#quick_search {
	padding:1.5em; color:$white; background:$teal; border-radius:1em;
	
	h3 {color:$white;}
	form {
		margin-bottom:0;
	
		label {color:$white;}
		input {display:inline-block; margin-bottom:0;}
		input[type=text] {width:72%; margin-right:2%; border:none; box-shadow:0;}
		input[type=submit] {
			width:25%; font-size:90%;
			&:hover {background:$orange;}	
		}
	}
		
}


/* -- Login Screen --------------- */
#login {
	
	margin:2em auto;
	
	form {
		
		input[type=submit] {
			cursor:pointer;
			display:block;
			width:100%;
			padding:1em 2em;
			color:$white;
			background:green;
			border:0 none;
			
			&:hover {background:blue;}
		}
	}
	
}

/* -- Models Detail --------------- */

.car-block {
    width:240px;
    display:inline-block; vertical-align:top;
    margin:1em 1.2em;
}

.car-block img {
    max-width:100%; 
    margin-bottom:.5em;
}

.car-block img.own {border-bottom:10px solid #2E8B57;}	/*green*/
.car-block img.own-not {border-bottom:10px solid #de3939;}	/*red*/
.car-block img.own-poor {border-bottom:10px solid #ffde42;}	/*yellow*/

.car-block p {
    max-width:95%;
    margin:0 0 .4em;
    line-height:120%;
}

#photoref {
    font-size:x-small; font-style:italic;
}