@import "settings";

/* --
Styles, by order

Main
Sidebar
Home
Login
About
Add Menu
Models Detail
Variation Comparison

-- */

/* -- Main -- */
#main {padding-top:10em;
	@media only screen and (max-width:480px){ padding-top:2em; font-size:90%; }
	
	h2 {margin-bottom:1em;}
}

.home #main {padding-top:0;}


/* -- Sidebar -- */
.sidebar {
	margin-top:3em;
	font-size:120%;

	a {display:block; margin:.5em 0;}
}



/* -- Home --------------- */
#header-home { margin-bottom:2em; background:$orange url('../images/banners/chalkboard.png') center center no-repeat;
	
	* {color:$cream;}
	
	#logo {
		@media only screen and (max-width:480px){ text-align:center; }
	}
	
	#banner { margin-top:2em;
	
		#bannerText {
			margin-top:2em;
		}
		#bannerImage {
			@media only screen and (max-width:1024px){ text-align:center; }
			
			img { @media only screen and (max-width:480px){ max-width:60%; margin:0 auto; } }
		}
	}
}

#quick_search {
	padding:1.5em; color:$white; background:$teal; border-radius:1em;
	
	h3 {color:$white;}
	form {
		margin-bottom:0;
	
		label {color:$white;}
		input {display:inline-block; margin-bottom:0;}
		input[type=text] { width:72%; margin-right:2%; border:none; box-shadow:0;
			@media only screen and (max-width:480px){ width:100%; margin:0 auto 1em; }
		}
		input[type=submit] { width:25%; font-size:90%;
			@media only screen and (max-width:480px){ width:100%; margin:0 auto; }
			
			&:hover {background:$orange;}	
		}
	}
}


/* -- Login Screen --------------- */
#login { margin:6em auto 3em;
	
	form {
		
		input[type=submit] {
			cursor:pointer;
			display:block;
			width:100%;
			padding:1em 2em;
			@include headline; color:$white;  text-transform:uppercase;
			background:$teal; border:none; border-radius:5px; box-shadow:0 none;
			
			&:hover {background:$orange;}
		}
	}
}


/* -- About ----------------------- */
.section { margin:1em auto 3em; padding-bottom:2em; border-bottom:.2em solid transparentize($black,.75);}


/* -- Add Menu -- */
#addMenu {
	a.button {display:block;}
}


/* -- Models Detail --------------- */

.car-block {
    width:240px;
    display:inline-block; vertical-align:top;
    margin:1em 1.2em;
}

.car-block img {
    max-width:100%; 
    margin-bottom:.5em;
}

.car-block img.own {border-bottom:10px solid #2E8B57;}	/*green*/
.car-block img.own-not {border-bottom:10px solid #de3939;}	/*red*/
.car-block img.own-poor {border-bottom:10px solid #ffde42;}	/*yellow*/

.car-block p {
    max-width:95%;
    margin:0 0 .4em;
    line-height:120%;
}

#photoref {
	margin-bottom:.5em; font-size:x-small; font-style:italic; line-height:100%;
}

/* -- Variations Comparison -- */
#varCompare {
	table tr td {
		&:first-of-type {min-width:140px; @include headline; }
		span {color:lighten($black,30%);}
	}
}

