@import "settings";

html,
body {@include body; color:$black; background:lighten($cream,5%) url('../images/bgTexture.jpg') repeat;}

h1,h2,h3,h4,h5,h6 {@include headline; color:$black; line-height:115%;}


p {color:$black;
	a {color:$orange;}
}

ul {
	a {color:$orange;}
}

img {max-width:100%; border:none;}

a {color:$black; border:none; outline:none;}
a:hover,
a:active,
a:focus {color:$orange; text-decoration:none;}

table {
	
	tr td {padding:5px 6px; vertical-align:top;}
	
	tr.even,
	tr.alt,
	tr:nth-of-type(2n) {background:transparentize($teal,.925);}
}

select {height:auto;}

.row {max-width:62.5rem;}

[class*="column"] + [class*="column"].end {float:left;}

.clear {clear:both;}


.button {
	padding:.6em 1.4em;
	@include headline; color:$white; 
	background:none;
	border:2px solid #FFFFFF;
	border-radius:5px;
	
	&:hover {background:$teal;}
	
	&.dark {
		color:$orange; border-color:$orange;
		&:hover,
		&:focus {color:$teal; background:none; border-color:$teal;}
	}
	&.block {display:block;}
}


.row.actionButtons {
	&:last-of-type {margin-bottom:2em;}
	
	.button.dark{ display:block; padding:2em 1em; color:$white; background:$teal; border:0;
		&:hover {background:$orange;}
	}
}


.icon {
	&.inline {margin-right:.5em;}
}


/* -- Header --------------- */

#header { position:fixed; z-index:2; width:100%; top:0; margin:0; padding:0 0 2em; background:$orange url('../images/bgHeaderBottom.jpg') bottom center repeat-x; 
	@media only screen and (max-width:480px){ position:relative; top:auto; text-align:center; }
}

#logo {display:block;
	@media only screen and (max-width:1024px){ text-align:center; }
}

#mainNav { list-style-type:none; margin:1em 0 0; text-align:right; @include headline; letter-spacing:.75px;
	@media only screen and (max-width:1024px){ text-align:center; }
	
	li {display:inline-block;}
	a {padding:.5em 1em; font-size:90%; color:$cream;
		@media only screen and (max-width:480px){ padding:.5em .25em; font-size:80%;  }
	}
}



 

/* -- Navigation ------------- */
#utilityNav { margin-bottom:.5em; text-align:right; background:transparentize($black,.75);
	@media only screen and (max-width:480px){ text-align:center; }
	
	a { display:inline-block; padding:8px; font-size:80%; color:$cream; text-decoration:none;
		@media only screen and (max-width:480px){ font-size:70%; }
		
		&:hover,
		&:visited,
		&:active { text-decoration:underline; }
	}
	
	em {color:$white;}
}

body.home #utilityNav {}



/* -- Footer ------------- */
#footer { margin:4em 0 0; padding:3em 0;  text-align:center; color:$cream; background:$teal url('../images/bgGrit.jpg') top repeat;
	
	p { margin-bottom:.25em; color:$cream;
		@media only screen and (max-width:480px){ font-size:80%; }
	}
}

/* -- Subnav -- */
#subNav { margin-top:3em; padding:0 .75em; font-size:.8em; border-top:.3em solid transparentize($black,.75); border-bottom:.2em solid transparentize($black,.75);
	@media only screen and (max-width:480px){ padding:0; text-align:center; }
	
	.large-12.columns { @media only screen and (max-width:480px){padding:0;} }
	
	p.tip { display:inline-block; margin:0; padding:.75em 2em .5em; line-height:100%; font-size:1em; color:transparentize($black,.5); border-right:.2em solid transparentize($black,.75); 
		@media only screen and (max-width:480px){ display:block; border-right:0;}
	}
	a { display:inline-block; padding:.75em 2em .5em; color:transparentize($black,.5); @include headline; border-right:.2em solid transparentize($black,.75);
		@media only screen and (max-width:480px){ display:block; padding:1em 0 .75em; border-right:0; border-top:.2em solid transparentize($black,.75);}
		
		&:hover {color:$orange;}
	}
}

/* -- Forms -- */
.formRow {margin-bottom:1em; padding-bottom:.5em; border-bottom:.2em solid transparentize($brown,.85);}

/* -- Accordions -- */
dl.accordion { margin:0 auto 1em; @include body;
	
	dd > a { @include body; color:$white; background:$teal; 
		&:hover {background:lighten($teal,5%); }
	}
}

/* -- Car Grids -- */
.carGrid { margin:1em 0;
	img {max-width:100%; margin-bottom:.5em;
		&.own {border-bottom:10px solid #2E8B57;}	/*green*/
		&.own-not {border-bottom:10px solid #de3939;}	/*red*/
		&.own-poor {border-bottom:10px solid #ffde42;}	/*yellow*/
	}

	p { max-width:95%; margin:0 0 .4em; line-height:120%;}	
}