@import "settings";

html,
body {@include body; color:$black; background:lighten($cream,5%) url('../images/bgTexture.jpg') repeat;}

h1,h2,h3,h4,h5,h6 {@include headline; color:$black; line-height:115%;}


p {color:$black;
	&.noMargin {margin-bottom:0;}
	
	a {color:$orange;}
}

ul {
	a {color:$orange;}
}

img {max-width:100%; border:none;}

a {color:$black; border:none; outline:none;}
a:hover,
a:active,
a:focus {color:$orange; text-decoration:none;}
a.imagePopup {cursor:zoom-in;}

table {
	thead {background:transparentize($orange,.85);}	
	tr td {padding:5px 6px; vertical-align:top; font-size:.85rem;
		img {max-width:140px;}
	}
	tr.even,
	tr.alt,
	tr:nth-of-type(2n) {background:transparentize($teal,.925);}
}

select {height:auto;}

.row {max-width:62.5rem;}

[class*="column"] + [class*="column"].end {float:left;}

.clear {clear:both;}

.button,
button {
	padding:.6em 1.4em;
	@include headline; color:$white; 
	background:none; border:2px solid $white; border-radius:5px;
	transition:all .5s ease;
	
	&:hover {background:$teal;}
	
	&.dark {
		color:$orange; border-color:$orange;
		&:hover,
		&:focus {color:$teal; background:none; border-color:$teal;}
	}
	&.block {display:block;}
	&.cancel {
		margin-left:1em;
		color:$orange;
		border:0; border-bottom:2px solid $orange;
		
		&:hover {
			color:$teal;
			background:none;
			border-bottom-color:$teal;
		}
	}
}

.row.actionButtons {
	&:last-of-type {margin-bottom:2em;}
	
	.button.dark{ display:block; padding:2em 1em; color:$white; background:$teal; border:0;
		&:hover {background:$orange;}
	}
}

.icon {
	&.inline {margin-right:.5em;}
}


/* -- Header --------------- */
#header { margin:0; padding:0 0 2em; background:$orange url('../images/bgHeaderBottom.jpg') bottom center repeat-x; 
	@media only screen and (max-width:480px){ position:relative; top:auto; text-align:center; }
}
#logo {display:block;
	@media only screen and (max-width:1024px){ text-align:center; }
}
#mainNav { list-style-type:none; margin:1em 0 0; text-align:right; @include headline; letter-spacing:.75px;
	@media only screen and (max-width:1024px){ text-align:center; }
	
	li {display:inline-block;}
	a {padding:.5em .75em; font-size:90%; color:$cream;
		@media only screen and (max-width:480px){ padding:.5em .25em; font-size:80%;  }
	}
}
 

/* -- Navigation ------------- */
#utilityNav { margin-bottom:.5em; text-align:right; background:transparentize($black,.75);
	@media only screen and (max-width:1024px){ text-align:center; }
	
	#warningLocal {display:none; padding:.5em 0; text-align:center; background:$teal;
		p {margin:0; @include body; color:$white;
			em {color:$babyBlue; @include italic;}
		}
	}
	
	a { display:inline-block; padding:8px; font-size:80%; color:$cream; text-decoration:none;
		@media only screen and (max-width:480px){ font-size:70%; }
		
		&:hover,
		&:visited,
		&:active { text-decoration:underline; }
	}
	
	em {color:$white;}
}


/* -- Footer ------------- */
#footer { margin:4em 0 0; padding:3em 0;  text-align:center; color:$cream; background:$teal url('../images/bgGrit.jpg') top repeat;
	
	p { margin-bottom:.25em; color:$cream;
		@media only screen and (max-width:480px){ font-size:80%; }
		
		a {color:$gold;
			&:hover {color:$cream;}
		}
	}
}

/* -- Subnav -- */
#subNav { margin-top:3em; padding:0 .75em; font-size:.8em; border-top:.3em solid transparentize($black,.75); border-bottom:.2em solid transparentize($black,.75);
	@media only screen and (max-width:480px){ padding:0; text-align:center; }
	
	.large-12.columns { @media only screen and (max-width:480px){padding:0;} }
	
	p.tip { display:inline-block; margin:0; padding:.75em 2em .5em; line-height:100%; font-size:1em; color:transparentize($black,.5); border-right:.2em solid transparentize($black,.75); 
		@media only screen and (max-width:480px){ display:block; border-right:0;}
	}
	a { display:inline-block; padding:.75em 2em .5em; color:transparentize($black,.5); @include headline; border-right:.2em solid transparentize($black,.75);
		@media only screen and (max-width:480px){ display:block; padding:1em 0 .75em; border-right:0; border-top:.2em solid transparentize($black,.75);}
		
		&:hover {color:$orange;}
	}
}

/* -- Forms -- */
form {
	ul.parsley-errors-list {
		li {color:$orange; line-height:120%;}
	}
}
.formRow {margin-bottom:1em; padding-bottom:.5em; border-bottom:.2em solid transparentize($brown,.85);
	textarea {resize:none; max-width:100%; min-height:100px;}
}

/* -- Accordions -- */
dl.accordion { margin:0 auto 1em; @include body;
	dd > a { @include body; color:$white; background:$teal; 
		&:hover {background:lighten($teal,5%); }
	}
}

/* -- Car Grids -- */
.carGrid { margin:1em 0; font-size:80%;
	a {display:block;}
	a.thumb {position:relative;
		h6 {position:absolute; left:0; top:8px; margin:0; padding:.25em .35em; color:$white; font-size:.7rem; background:$teal;}
	}
	img {display:block; max-width:100%; margin-bottom:.25em;
		&.own {border-bottom:10px solid #2E8B57;}	/*green*/
		&.own-not {border-bottom:10px solid #de3939;}	/*red*/
		&.own-poor {border-bottom:10px solid #ffde42;}	/*yellow*/
	}
	.photoref {
		margin:.5em 0 1.5em; font-size:80%; font-style:italic; line-height:100%;
	}
	h6 {text-transform:uppercase; letter-spacing:1px; font-size:120%;}
	p { margin:0 0 .75em; line-height:120%; font-size:95%;
		a {display:inline-block;}
	}
	.carDetails {margin-bottom:1em;
		margin-top:1em; padding:1em;
		border-top:.25em solid transparentize($teal,.5);
		background:transparentize($teal,.95);
		
		p {}
	}	
}