@import "settings";

html,
body {@include body; color:$black; background:lighten($cream,5%) url('../images/bgTexture.jpg') repeat;}

h1,h2,h3,h4,h5,h6 {@include headline; color:$black; line-height:115%;}

p {color:$black;}

img {max-width:100%; border:none;}

a {color:$black; border:none;}
a:hover,
a:active {color:$orange; text-decoration:none;}

.clear {clear:both;}

.button {
	padding:.6em 1.4em;
	@include headline; color:$white; text-transform:uppercase;
	background:none;
	border:2px solid #FFFFFF;
	border-radius:5px;
	
	&:hover {background:$teal;}
	
	&.dark {
		color:$orange; border-color:$orange;
		&:hover {color:$teal; background:none; border-color:$teal;}
	}
}


/* -- Header --------------- */

#header { position:fixed; z-index:2; width:100%; top:0; margin:0; padding:0 0 1.25em; background:$orange; }

#logo {display:block;}

#mainNav {
	list-style-type:none;
	margin:1em 0 0;
	text-align:right; @include headline; letter-spacing:.75px;
	
	li {display:inline-block;}
	a {padding:.5em 1em; font-size:90%; color:$cream;}
}



 

/* -- Navigation ------------- */
#utilityNav {
	margin-bottom:.5em;
	text-align:right;
	background:transparentize($black,.75);
	
	a {
		display:inline-block;
		padding:8px;
		font-size:80%; color:$cream; text-decoration:none;
		
		&:hover,
		&:visited,
		&:active { text-decoration:underline; }
	}
	
	em {color:$white;}
}

body.home #utilityNav {}



/* -- Footer ------------- */
#footer {
	margin:4em 0 0; padding:3em 0; 
	text-align:center; color:$cream;
	background:$teal url('../images/bgGrit.jpg') top repeat;
	
	p {color:$cream;}
}



/* -- Home --------------- */
#header-home {
	margin-bottom:2em; background:$orange url('../images/banners/chalkboard.png') center center no-repeat;

	* {color:$cream;}
	
	#banner {
		margin-top:2em;
	
		#bannerText {
			margin-top:2em;
		}	
	}
}

#quick_search {
	padding:1.5em; color:$white; background:$teal; border-radius:1em;
	
	h3 {color:$white;}
	form {
		margin-bottom:0;
	
		label {color:$white;}
		input {display:inline-block; margin-bottom:0;}
		input[type=text] {width:72%; margin-right:2%; border:none; box-shadow:0;}
		input[type=submit] {
			width:25%; font-size:90%;
			&:hover {background:$orange;}	
		}
	}
		
}