/* -- Fonts -- */
/* -- Colors -- */
/*$cream : #F3EECE;*/
/* -- Main -- */
/* line 4, sass/interior.scss */
#main {
  padding-top: 10em;
}

/* line 6, sass/interior.scss */
.home #main {
  padding-top: 0;
}

/* -- Sidebar -- */
/* line 10, sass/interior.scss */
.sidebar {
  margin-top: 3em;
  font-size: 120%;
}
/* line 14, sass/interior.scss */
.sidebar a {
  display: block;
  margin: .5em 0;
}

/* -- Login Screen --------------- */
/* line 19, sass/interior.scss */
#login {
  margin: 2em auto;
}
/* line 25, sass/interior.scss */
#login form input[type=submit] {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1em 2em;
  color: white;
  background: green;
  border: 0 none;
}
/* line 34, sass/interior.scss */
#login form input[type=submit]:hover {
  background: blue;
}

/* -- Models Detail --------------- */
/* line 42, sass/interior.scss */
.car-block {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  margin: 1em 1.2em;
}

/* line 48, sass/interior.scss */
.car-block img {
  max-width: 100%;
  margin-bottom: .5em;
}

/* line 53, sass/interior.scss */
.car-block img.own {
  border-bottom: 10px solid #2E8B57;
}

/*green*/
/* line 54, sass/interior.scss */
.car-block img.own-not {
  border-bottom: 10px solid #de3939;
}

/*red*/
/* line 55, sass/interior.scss */
.car-block img.own-poor {
  border-bottom: 10px solid #ffde42;
}

/*yellow*/
/* line 57, sass/interior.scss */
.car-block p {
  max-width: 95%;
  margin: 0 0 .4em;
  line-height: 120%;
}

/* line 63, sass/interior.scss */
#photoref {
  font-size: x-small;
  font-style: italic;
}
