/* -- Fonts -- */
/* -- Colors -- */
/*$cream : #F3EECE;*/
/* -- Main -- */
/* line 4, sass/interior.scss */
#main {
  padding-top: 8em;
}

/* line 6, sass/interior.scss */
.home #main {
  padding-top: 0;
}

/* -- Sidebar -- */
/* line 10, sass/interior.scss */
.sidebar {
  margin-top: 3em;
  font-size: 120%;
}
/* line 14, sass/interior.scss */
.sidebar a {
  display: block;
  margin: .5em 0;
}

/* -- Home --------------- */
/* line 20, sass/interior.scss */
#header-home {
  margin-bottom: 2em;
  background: #d45132 url("../images/banners/chalkboard.png") center center no-repeat;
}
/* line 23, sass/interior.scss */
#header-home * {
  color: #f6f3dd;
}
/* line 25, sass/interior.scss */
#header-home #banner {
  margin-top: 2em;
}
/* line 28, sass/interior.scss */
#header-home #banner #bannerText {
  margin-top: 2em;
}

/* line 34, sass/interior.scss */
#quick_search {
  padding: 1.5em;
  color: white;
  background: #087b80;
  border-radius: 1em;
}
/* line 37, sass/interior.scss */
#quick_search h3 {
  color: white;
}
/* line 38, sass/interior.scss */
#quick_search form {
  margin-bottom: 0;
}
/* line 41, sass/interior.scss */
#quick_search form label {
  color: white;
}
/* line 42, sass/interior.scss */
#quick_search form input {
  display: inline-block;
  margin-bottom: 0;
}
/* line 43, sass/interior.scss */
#quick_search form input[type=text] {
  width: 72%;
  margin-right: 2%;
  border: none;
  box-shadow: 0;
}
/* line 44, sass/interior.scss */
#quick_search form input[type=submit] {
  width: 25%;
  font-size: 90%;
}
/* line 46, sass/interior.scss */
#quick_search form input[type=submit]:hover {
  background: #d45132;
}

/* -- Login Screen --------------- */
/* line 54, sass/interior.scss */
#login {
  margin: 6em auto 3em;
}
/* line 60, sass/interior.scss */
#login form input[type=submit] {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1em 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  background: #087b80;
  border: none;
  border-radius: 5px;
  box-shadow: 0 none;
}
/* line 68, sass/interior.scss */
#login form input[type=submit]:hover {
  background: #d45132;
}

/* -- Models Detail --------------- */
/* line 76, sass/interior.scss */
.car-block {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  margin: 1em 1.2em;
}

/* line 82, sass/interior.scss */
.car-block img {
  max-width: 100%;
  margin-bottom: .5em;
}

/* line 87, sass/interior.scss */
.car-block img.own {
  border-bottom: 10px solid #2E8B57;
}

/*green*/
/* line 88, sass/interior.scss */
.car-block img.own-not {
  border-bottom: 10px solid #de3939;
}

/*red*/
/* line 89, sass/interior.scss */
.car-block img.own-poor {
  border-bottom: 10px solid #ffde42;
}

/*yellow*/
/* line 91, sass/interior.scss */
.car-block p {
  max-width: 95%;
  margin: 0 0 .4em;
  line-height: 120%;
}

/* line 97, sass/interior.scss */
#photoref {
  font-size: x-small;
  font-style: italic;
}
