/* -- Colors -- */
/* -- Header --------------- */
/* line 6, sass/style.scss */
#header {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

/* line 12, sass/style.scss */
#header h1,
#header img {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

/* -- 

/* -- Navigation ------------- */
/* line 20, sass/style.scss */
#utilityNav {
  padding: 0 1em;
  text-align: right;
  background: #333333;
}
/* line 26, sass/style.scss */
#utilityNav a {
  display: inline-block;
  padding: 16px 16px;
  color: white;
  text-decoration: none;
}
/* line 33, sass/style.scss */
#utilityNav a:hover, #utilityNav a:visited, #utilityNav a:active {
  text-decoration: underline;
}
/* line 36, sass/style.scss */
#utilityNav em {
  color: white;
}


/* -- Models Detail --------------- */
/* line 44, sass/style.scss */
.car-block {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  margin: 1em 1.2em;
}

/* line 50, sass/style.scss */
.car-block img {
  max-width: 100%;
  margin-bottom: .5em;
}

/* line 55, sass/style.scss */
.car-block img.own {
  border-bottom: 10px solid #2E8B57;
}
/*green*/

/* line 56, sass/style.scss */
.car-block img.own-not {
  border-bottom: 10px solid #de3939;
}
/*red*/

/* line 57, sass/style.scss */
.car-block img.own-poor {
  border-bottom: 10px solid #ffde42;
}
/*yellow*/

/* line 59, sass/style.scss */
.car-block p {
  max-width: 95%;
  margin: 0 0 .4em;
  line-height: 120%;
}

/* line 65, sass/style.scss */
#photoref {
  font-size: x-small;
  font-style: italic;
}
