/* -- Colors -- */
/* line 4, sass/style.scss */
html,
body {
  background: #fdfcf7;
}

/* line 6, sass/style.scss */
a {
  color: #333333;
}

/* line 8, sass/style.scss */
a:hover,
a:active {
  color: #d45132;
  text-decoration: none;
}

/* line 10, sass/style.scss */
.row {
  max-width: 85%;
}

/* line 11, sass/style.scss */
.clear {
  clear: both;
}

/* -- Header --------------- */
/* line 15, sass/style.scss */
#header {
  margin: 0 0 2em;
  padding: .5em;
}

/* line 20, sass/style.scss */
#header h1,
#header img {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

/* line 25, sass/style.scss */
#mainNav {
  list-style-type: none;
  margin: 1.5em 0 0;
  text-align: right;
}
/* line 30, sass/style.scss */
#mainNav li {
  display: inline-block;
}
/* line 31, sass/style.scss */
#mainNav a {
  padding: .5em 1em;
  font-size: 110%;
}

/* -- Navigation ------------- */
/* line 37, sass/style.scss */
#utilityNav {
  padding: 0 1em;
  text-align: right;
  background: #333333;
}
/* line 43, sass/style.scss */
#utilityNav a {
  display: inline-block;
  padding: 16px 16px;
  color: white;
  text-decoration: none;
}
/* line 50, sass/style.scss */
#utilityNav a:hover, #utilityNav a:visited, #utilityNav a:active {
  text-decoration: underline;
}
/* line 53, sass/style.scss */
#utilityNav em {
  color: white;
}

/* -- Footer ------------- */
/* line 59, sass/style.scss */
#footer {
  padding: 2em 0;
  text-align: center;
}

/* -- Home --------------- */
/* line 67, sass/style.scss */
.row.slider {
  max-width: 70em;
}
