/* -- Fonts -- */
/* -- Colors -- */
/*$cream : #F3EECE;*/
/* line 4, sass/style.scss */
html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  background: #fbfaf1 url("../images/bgTexture.jpg") repeat;
}

/* line 6, sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #444444;
  line-height: 115%;
}

/* line 9, sass/style.scss */
p {
  color: #444444;
}
/* line 10, sass/style.scss */
p.noMargin {
  margin-bottom: 0;
}
/* line 12, sass/style.scss */
p a {
  color: #d45132;
}

/* line 16, sass/style.scss */
ul a {
  color: #d45132;
}

/* line 19, sass/style.scss */
img {
  max-width: 100%;
  border: none;
}

/* line 21, sass/style.scss */
a {
  color: #444444;
  border: none;
  outline: none;
}

/* line 24, sass/style.scss */
a:hover,
a:active,
a:focus {
  color: #d45132;
  text-decoration: none;
}

/* line 25, sass/style.scss */
a.imagePopup {
  cursor: zoom-in;
}

/* line 28, sass/style.scss */
table thead {
  background: rgba(212, 81, 50, 0.15);
}
/* line 29, sass/style.scss */
table tr td {
  padding: 5px 6px;
  vertical-align: top;
  font-size: .85rem;
}
/* line 32, sass/style.scss */
table tr.even,
table tr.alt,
table tr:nth-of-type(2n) {
  background: rgba(8, 123, 128, 0.075);
}

/* line 35, sass/style.scss */
select {
  height: auto;
}

/* line 37, sass/style.scss */
.row {
  max-width: 62.5rem;
}

/* line 39, sass/style.scss */
[class*="column"] + [class*="column"].end {
  float: left;
}

/* line 41, sass/style.scss */
.clear {
  clear: both;
}

/* line 44, sass/style.scss */
.button {
  padding: .6em 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  transition: all .5s ease;
}
/* line 52, sass/style.scss */
.button:hover {
  background: #087b80;
}
/* line 54, sass/style.scss */
.button.dark {
  color: #d45132;
  border-color: #d45132;
}
/* line 57, sass/style.scss */
.button.dark:hover, .button.dark:focus {
  color: #087b80;
  background: none;
  border-color: #087b80;
}
/* line 59, sass/style.scss */
.button.block {
  display: block;
}
/* line 60, sass/style.scss */
.button.cancel {
  margin-left: 1em;
  color: #d45132;
  border: 0;
  border-bottom: 2px solid #d45132;
}
/* line 65, sass/style.scss */
.button.cancel:hover {
  color: #087b80;
  background: none;
  border-bottom-color: #087b80;
}

/* line 75, sass/style.scss */
.row.actionButtons:last-of-type {
  margin-bottom: 2em;
}
/* line 77, sass/style.scss */
.row.actionButtons .button.dark {
  display: block;
  padding: 2em 1em;
  color: white;
  background: #087b80;
  border: 0;
}
/* line 78, sass/style.scss */
.row.actionButtons .button.dark:hover {
  background: #d45132;
}

/* line 84, sass/style.scss */
.icon.inline {
  margin-right: .5em;
}

/* -- Header --------------- */
/* line 89, sass/style.scss */
#header {
  /*position:fixed; z-index:2; width:100%; top:0;*/
  margin: 0;
  padding: 0 0 2em;
  background: #d45132 url("../images/bgHeaderBottom.jpg") bottom center repeat-x;
}
@media only screen and (max-width: 480px) {
  /* line 89, sass/style.scss */
  #header {
    position: relative;
    top: auto;
    text-align: center;
  }
}

/* line 92, sass/style.scss */
#logo {
  display: block;
}
@media only screen and (max-width: 1024px) {
  /* line 92, sass/style.scss */
  #logo {
    text-align: center;
  }
}

/* line 95, sass/style.scss */
#mainNav {
  list-style-type: none;
  margin: 1em 0 0;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .75px;
}
@media only screen and (max-width: 1024px) {
  /* line 95, sass/style.scss */
  #mainNav {
    text-align: center;
  }
}
/* line 98, sass/style.scss */
#mainNav li {
  display: inline-block;
}
/* line 99, sass/style.scss */
#mainNav a {
  padding: .5em 1em;
  font-size: 90%;
  color: #f6f3dd;
}
@media only screen and (max-width: 480px) {
  /* line 99, sass/style.scss */
  #mainNav a {
    padding: .5em .25em;
    font-size: 80%;
  }
}

/* -- Navigation ------------- */
/* line 106, sass/style.scss */
#utilityNav {
  margin-bottom: .5em;
  text-align: right;
  background: rgba(68, 68, 68, 0.25);
}
@media only screen and (max-width: 480px) {
  /* line 106, sass/style.scss */
  #utilityNav {
    text-align: center;
  }
}
/* line 109, sass/style.scss */
#utilityNav #warningLocal {
  display: none;
  padding: .5em 0;
  text-align: center;
  background: #087b80;
}
/* line 110, sass/style.scss */
#utilityNav #warningLocal p {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
/* line 111, sass/style.scss */
#utilityNav #warningLocal p em {
  color: #d6eae9;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}
/* line 115, sass/style.scss */
#utilityNav a {
  display: inline-block;
  padding: 8px;
  font-size: 80%;
  color: #f6f3dd;
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  /* line 115, sass/style.scss */
  #utilityNav a {
    font-size: 70%;
  }
}
/* line 120, sass/style.scss */
#utilityNav a:hover, #utilityNav a:visited, #utilityNav a:active {
  text-decoration: underline;
}
/* line 123, sass/style.scss */
#utilityNav em {
  color: white;
}

/* -- Footer ------------- */
/* line 130, sass/style.scss */
#footer {
  margin: 4em 0 0;
  padding: 3em 0;
  text-align: center;
  color: #f6f3dd;
  background: #087b80 url("../images/bgGrit.jpg") top repeat;
}
/* line 132, sass/style.scss */
#footer p {
  margin-bottom: .25em;
  color: #f6f3dd;
}
@media only screen and (max-width: 480px) {
  /* line 132, sass/style.scss */
  #footer p {
    font-size: 80%;
  }
}

/* -- Subnav -- */
/* line 138, sass/style.scss */
#subNav {
  margin-top: 3em;
  padding: 0 .75em;
  font-size: .8em;
  border-top: 0.3em solid rgba(68, 68, 68, 0.25);
  border-bottom: 0.2em solid rgba(68, 68, 68, 0.25);
}
@media only screen and (max-width: 480px) {
  /* line 138, sass/style.scss */
  #subNav {
    padding: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  /* line 141, sass/style.scss */
  #subNav .large-12.columns {
    padding: 0;
  }
}
/* line 143, sass/style.scss */
#subNav p.tip {
  display: inline-block;
  margin: 0;
  padding: .75em 2em .5em;
  line-height: 100%;
  font-size: 1em;
  color: rgba(68, 68, 68, 0.5);
  border-right: 0.2em solid rgba(68, 68, 68, 0.25);
}
@media only screen and (max-width: 480px) {
  /* line 143, sass/style.scss */
  #subNav p.tip {
    display: block;
    border-right: 0;
  }
}
/* line 146, sass/style.scss */
#subNav a {
  display: inline-block;
  padding: .75em 2em .5em;
  color: rgba(68, 68, 68, 0.5);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  border-right: 0.2em solid rgba(68, 68, 68, 0.25);
}
@media only screen and (max-width: 480px) {
  /* line 146, sass/style.scss */
  #subNav a {
    display: block;
    padding: 1em 0 .75em;
    border-right: 0;
    border-top: 0.2em solid rgba(68, 68, 68, 0.25);
  }
}
/* line 149, sass/style.scss */
#subNav a:hover {
  color: #d45132;
}

/* -- Forms -- */
/* line 154, sass/style.scss */
.formRow {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 0.2em solid rgba(80, 63, 45, 0.15);
}

/* -- Accordions -- */
/* line 157, sass/style.scss */
dl.accordion {
  margin: 0 auto 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* line 159, sass/style.scss */
dl.accordion dd > a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background: #087b80;
}
/* line 160, sass/style.scss */
dl.accordion dd > a:hover {
  background: #099298;
}

/* -- Car Grids -- */
/* line 165, sass/style.scss */
.carGrid {
  margin: 1em 0;
  font-size: 80%;
}
/* line 166, sass/style.scss */
.carGrid a {
  display: block;
}
/* line 167, sass/style.scss */
.carGrid img {
  display: block;
  max-width: 100%;
  margin-bottom: .25em;
  /*green*/
  /*red*/
  /*yellow*/
}
/* line 168, sass/style.scss */
.carGrid img.own {
  border-bottom: 10px solid #2E8B57;
}
/* line 169, sass/style.scss */
.carGrid img.own-not {
  border-bottom: 10px solid #de3939;
}
/* line 170, sass/style.scss */
.carGrid img.own-poor {
  border-bottom: 10px solid #ffde42;
}
/* line 172, sass/style.scss */
.carGrid .photoref {
  margin: .5em 0 1.5em;
  font-size: 80%;
  font-style: italic;
  line-height: 100%;
}
/* line 175, sass/style.scss */
.carGrid h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 120%;
}
/* line 176, sass/style.scss */
.carGrid p {
  margin: 0 0 .75em;
  line-height: 120%;
  font-size: 95%;
}
/* line 179, sass/style.scss */
.carGrid .carDetails {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  border-top: 0.25em solid rgba(8, 123, 128, 0.5);
  background: rgba(8, 123, 128, 0.05);
}
